<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
            <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Quality</h1>
    </div>
</div>

<div class="details">
    <img src='pics/<%= name %>.jpg'/>
    <h1><%= name %></h1>
    <h2><%= city %></h2>
	<h2><%= type %></h2>
</div>

<div style="color:#58C0FF; padding:0 0 5px 5px">
<p> Centers for Medicare & Medicaid Services (CMS) provides regular evaluations on CMS-accredited hospitals for the purpose of assessing quality. The overall scoring each hospital receives is reported in CMS's Hospital Value Based-Purchasing (HVBP) chart in the Total Performance Score (TPS).</p>
<p>The Total Performance Score (TPS) is derived from three domains in FY 2014—Clinical Process of Care, Patient Experience of Care and Outcome Domains.</p>
<p>The Clinical Process of Care domain is comprised of 13 clinical process measures and accounts for 45 percent of a hospital’s TPS. The Patient Experience of Care domain is composed of 8 dimensions derived from the HCAHPS Survey and accounts for 30 percent of a hospital’s TPS. The Outcome Domain contains 3 mortality measures and accounts for 25 percent of a hospital’s TPS.</p>
<p>To calculate the quality variance measure, we simply found the percentage difference between the TPS for <%= name %> and the state average TPS.</p>
<p><i>TPS data as of 2014 was extracted from <a href="http://www.medicare.gov/hospitalcompare/Data/total-performance-scores.html">medicare.gov/hospitalcompare/Data/total-performance-scores.html.</a></i></p>
</div>


